<head>

<h1>login</h1>
</head>

<body>
<form method="POST" action="/login" >
    <div id="loginDiv">
<input type="text" name = "username" placeholder="Enter user name">
<input type="password" name = "password" placeholder="Enter password">
</div>
<button type="submit" >Login</button>
</form>
</body>